<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/aop  
            http://www.springframework.org/schema/aop/spring-aop.xsd ">

	<bean id="helloServiceImpl" class="com.hhcf.hessian.impl.HelloServiceImpl" />

	<!-- 使用HessianServiceExporter 将普通bean导出成Hessian服务 -->
	<bean name="/service"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="helloServiceImpl" />
		<!-- Hessian服务的接口 -->
		<property name="serviceInterface" value="com.hhcf.hessian.HelloService" />
	</bean>
    